/*EXPERIENCIAS*/

/*Contenedor*/

.container {
  max-width: 700px;
}

/*Borde despues de cada experiencia*/

.experiencias-section {
  border-bottom: 2px solid var(--beige);
}

/*DARKMODE*/
.dark-mode .experiencias-section {
  border-bottom: 2px solid var(--brown);
}

/*Eliminamos el borde en la ultima experiencia*/

.experiencias-section:last-child {
  border-bottom: none;
}