/*VARIABLES*/

:root {
  --principal-font: "Roboto Condensed", sans-serif;
  --secondary-font: "Boldonse", system-ui;
  --black: #1C1C1C;
  --gray: #4F4F4F;
  --brown: #6F4E37;
  --green: #556B2F;
  --red: #8B0000;
  --beige: #D2B48C;
  --light: #eef4ed;
}

/*ESTILOS GENERALES Y LAYOUT*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--principal-font);
  color: var(--beige);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--brown);
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3, th {
  font-size: 20px;
}

p, li, td, button, label, input, textarea {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 80%;
  padding: 20px;
}

/*NAVEGACION*/

.header {
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 1px var(--beige);
}

.navegacion {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navegacion-section {
  font-family: var(--secondary-font);
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

.navegacion-section a {
  text-decoration: none;
  color: var(--beige);
  padding: 10px;
}

.navegacion-section a:hover {
  background-color: var(--red);
}

/*FOOTER*/

.footer {
  width: 100%;
  padding: 10px;
  border-top: solid 1px var(--beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-footer {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-transform: capitalize;
}

.title-footer a {
  text-decoration: none;
  color: var(--beige);
  padding: 10px;
}

.title-footer a:hover {
  background-color: var(--red);
}

.icon-footer {
  font-size: 24px;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra */
}

::-webkit-scrollbar-thumb {
  background: var(--beige); /* Color de la barra */
  border-radius: 6px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--red); /* Color al pasar el mouse por encima */
}

::-webkit-scrollbar-track {
  background: var(--light); /* Fondo de la pista */
}

/*CLASES GENERICAS*/

.title {
  font-family: var(--secondary-font);
  text-align: center;
  text-transform: capitalize;
}