/*HABILIDADES*/

/*Contenedor*/

.habilidades-container {
  display: flex;
  justify-content: center;
}

/*Tabla*/

.skills {
  border-spacing: 30px 10px;
  border: 5px solid var(--beige);
}

th {
  font-family: var(--secondary-font);
  font-weight: bold;
  border: 2px solid var(--beige);
  border-collapse: collapse;
}

td {
  text-transform: capitalize;
  border: 2px solid var(--beige);
  padding: 0 5px;
}

/*DARKMODE*/
.dark-mode .habilidades-container .skills {
  border: solid 5px var(--brown);
}

.dark-mode .habilidades-container .skills th, .dark-mode .habilidades-container .skills td {
  border: 2px solid var(--brown);
}