/*HABILIDADES*/

.section {
  display: flex;
  justify-content: center;
}

.skills {
  border-spacing: 30px 10px;
  border: 5px solid var(--beige);
}

th {
  font-family: var(--secondary-font);
  font-weight: bold;
  border: 2px solid var(--beige);
  border-collapse: collapse;
}

td {
  text-transform: capitalize;
  border: 2px solid var(--beige);
  padding: 0 5px;
}

/*DARKMODE*/
.dark-mode .section .skills {
  border: solid 5px var(--brown);
}

.dark-mode .section .skills th, .dark-mode .section .skills td {
  border: 2px solid var(--brown);
}