/*HISTORIA*/

/*Imagen*/

.img-container {
  float: left;
  margin-right: 20px;
}

.img-container source, .img-container img{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

/*Estilos para cuando el ancho de la pantalla es menor a 680px*/

@media(max-width: 540px) {
    .historia-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .img-container {
      margin: 0;
    }
}