/*VARIABLES*/

:root {
  --principal-font: "Roboto Condensed", sans-serif;
  --secondary-font: "Boldonse", system-ui;
  --black: #1C1C1C;
  --gray: #4F4F4F;
  --brown: #6F4E37;
  --green: #556B2F;
  --red: #8B0000;
  --beige: #D2B48C;
  --light: #eef4ed;
}

/*ESTILOS GENERALES Y LAYOUT*/

html, *, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--principal-font);
  color: var(--beige);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brown);
}

h1, h2, h3, p {
  margin: 0;
}

/*NAVEGACION*/

.header {
  width: 100%;
  padding: 20px 0;
  border-bottom: solid 1px var(--beige);
}

.navegacion {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navegacion-section {
  list-style: none;
  font-size: 22px;
  font-weight: bold;
}

.navegacion-section a {
  text-decoration: none;
  color: var(--beige);
  padding: 20px;
}

.navegacion-section a:hover {
  background-color: var(--red);
}

/*FOOTER*/

.footer {
  width: 100%;
  padding: 20px;
  border-top: solid 1px var(--beige);
  display: flex;
  justify-content: space-between;
}

.title-footer {
  font-size: 30px;
}

.title-footer a {
  text-decoration: none;
  color: var(--beige);
  padding: 20px;
}

.title-footer a:hover {
  background-color: var(--red);
}

.icon-footer {
  font-size: 30px;
}