/*VARIABLES*/

:root {
  --principal-font: "Roboto Condensed", sans-serif;
  --secondary-font: "Boldonse", system-ui;
  --black: #1C1C1C;
  --gray: #4F4F4F;
  --brown: #6F4E37;
  --green: #556B2F;
  --red: #8B0000;
  --beige: #D2B48C;
  --light: #eef4ed;
}

body {
  font-family: var(--principal-font);
  color: var(--beige);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brown);
}

h1, h2, h3, p {
  margin: 0;
}

/*PAGINA PRINCIPAL*/

/*NAVEGACION*/
.header {
  width: 100%;
  padding: 20px 0;
  border-bottom: solid 1px var(--beige);
}

.navegacion {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navegacion-section {
  list-style: none;
  font-size: 22px;
  font-weight: bold;
}

.navegacion-section a {
  text-decoration: none;
  color: var(--beige);
  padding: 20px;
}

.navegacion-section a:hover {
  background-color: var(--red);
}

/*MAIN*/

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 60%;
}

.title {
  font-family: var(--secondary-font);
  font-size: 70px;
}

.description {
  font-size: 22px;
}

/*ANIMACION CURSOR*/

.cursor {
  animation: blink 1s steps(6, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}