/*INDEX*/

.title {
  text-align: left;
  font-size: 50px;
}

/*ANIMACION CURSOR*/

.cursor {
  animation: blink 1s steps(6, start) infinite;
}

.hidden {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}