/*PAGINA PRINCIPAL*/

.title {
  text-align: left;
  font-size: 70px;
}

.description {
  font-size: 22px;
}

/*ANIMACION CURSOR*/

.cursor {
  animation: blink 1s steps(6, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}